/src/.idea
.idea
/src/composer.lock

/helm-chart/charts
/helm-chart/requirements.lock
/backup/backups/
/docker/worker/KafkaHandler.jar
/docker/ui/source/
/docker/ui-nginx/source/
/artifacts/
/dev-environment/k8s_tests/.env
**/.DS_Store
**/._*
